
<html>
    <head>
        <title>Tutor Bot</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Tutor Bot</a></h1>
        </div>
 
        <div>
            <h2><a href="">Archivos de soporte</a></h2>
            <p>Aquí encontrarás todo tipo de documentos que puedan ser útiles para tu estudio.</p>
        </div>
 
        <div>
            <h2><a href="">Sistema de recompensa</a></h2>
            <p>Sistema de recompensación a aquellos usuarios que ayuden subiendo apuntes, exámenes etc..</p>
        </div>
    </body>